In [1]:
import pandas as pd
import glob

#### Описание данных

В папке Data находится информация о студентах, всего 10 групп студентов. 
Файлы делятся на две категории:
* Students_info_i - информация о студентах из группы i
* Students_marks_i - оценки студентов из группы i за экзамены

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [2]:
for i in range(9):
    a = pd.read_csv(f'C:/Users/79169/Data/Students_info_{i}.csv')
    b = pd.read_csv(f'C:/Users/79169/Data/Students_marks_{i}.csv')
    df = pd.concat([a, b], axis=1)

In [3]:
df.head(3)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,index,math score,reading score,writing score
0,800,male,group C,some high school,standard,completed,group9,800,67,73,68
1,801,male,group C,some high school,standard,completed,group9,801,76,80,73
2,802,female,group E,associate's degree,standard,none,group9,802,87,94,95

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [4]:
del df['index']
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,male,group C,some high school,standard,completed,group9,67,73,68
1,male,group C,some high school,standard,completed,group9,76,80,73
2,female,group E,associate's degree,standard,none,group9,87,94,95
3,female,group B,some college,standard,none,group9,82,85,87
4,female,group C,some college,standard,none,group9,73,76,78
5,male,group A,some college,free/reduced,none,group9,75,81,74
6,female,group D,some college,free/reduced,none,group9,64,74,75
7,female,group E,high school,free/reduced,none,group9,41,45,40
8,male,group C,high school,standard,none,group9,90,75,69
9,male,group B,bachelor's degree,standard,none,group9,59,54,51

#### Задание 3. Выведите на экран размеры полученной таблицы

In [5]:
df.shape

(100, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [6]:
df.describe()

       math score  reading score  writing score
count  100.000000     100.000000     100.000000
mean    66.520000      69.060000      68.120000
std     15.596218      15.217494      16.193452
min     23.000000      29.000000      27.000000
25%     58.000000      58.750000      54.000000
50%     65.000000      70.500000      70.000000
75%     78.000000      81.250000      80.250000
max     97.000000     100.000000      96.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [7]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [8]:
df['math score'].mean()

66.52

In [9]:
df['reading score'].mean()

69.06

In [10]:
df['writing score'].mean()

68.12

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [11]:
df.groupby('test preparation course')[['math score']].mean().round(2).reset_index()

  test preparation course  math score
0               completed       68.63
1                    none       65.38

In [12]:
df.groupby('test preparation course')[['reading score']].mean().round(2).reset_index()

  test preparation course  reading score
0               completed          72.80
1                    none          67.05

In [13]:
df.groupby('test preparation course')[['writing score']].mean().round(2).reset_index()

  test preparation course  writing score
0               completed          73.29
1                    none          65.34

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [14]:
unique_lunch = df['lunch'].unique()
print(unique_lunch)

['standard' 'free/reduced']

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**

In [15]:
df.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"})

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,male,group C,some high school,standard,completed,group9,67,73,68
1,male,group C,some high school,standard,completed,group9,76,80,73
2,female,group E,associate's degree,standard,none,group9,87,94,95
3,female,group B,some college,standard,none,group9,82,85,87
4,female,group C,some college,standard,none,group9,73,76,78
...,...,...,...,...,...,...,...,...,...
95,female,group E,some high school,free/reduced,none,group9,32,34,38
96,male,group B,high school,free/reduced,none,group9,36,29,27
97,female,group B,some high school,free/reduced,completed,group9,63,78,79
98,male,group D,associate's degree,standard,completed,group9,67,54,63
99,female,group D,some high school,standard,completed,group9,65,78,82

**Зафиксируем минимальный балл для сдачи экзамена**

In [16]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
   * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
   * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
   * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [17]:
# Какая доля студентов сдала экзамен по математике (passmark >= 50)? 
len(df[(df['math score'] >= 50)]) / len(df['math score']) * 100

86.0

In [18]:
#Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике? 
len(df[(df['math score'] >= 50) & 
       (df['test preparation course'] == 'completed')])/len(df['test preparation course'] == 'completed') * 100

31.0

In [19]:
# Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?
len(df[(df['math score'] < 50) & 
        (df['test preparation course'] == 'none') &
                 (df['gender'] == 'female')]) / len(df[(df['math score'] < 50) &
                                                                 (df['gender'] == 'female')]) * 100

75.0

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
   * Для каждой этнической группы выведите средний балл за экзамен по чтению
   * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [20]:
%%time
#  Для каждой этнической группы выведите средний балл за экзамен по чтению 
df.groupby('race/ethnicity')[['reading score']].mean().round(2).reset_index()

Wall time: 7.62 ms

  race/ethnicity  reading score
0        group A          64.50
1        group B          66.30
2        group C          70.52
3        group D          67.79
4        group E          73.33

In [21]:
%%time
# Для каждого уровня образования выведите минимальный балл за экзамен по письму
df.groupby('parental level of education')[['writing score']].min().reset_index()

Wall time: 5.89 ms

  parental level of education  writing score
0          associate's degree             41
1           bachelor's degree             38
2                 high school             27
3             master's degree             67
4                some college             45
5            some high school             36

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [22]:
def grade(param, score):
    
    group_dict = {}

    # Группируем данные вручную
    for _, row in df.iterrows():
        group = row[param]
        value = row[score]
    
        if group not in group_dict:
            group_dict[group] = []
        
        group_dict[group].append(value)

    # Вычисляем минимальное значение для каждой группы
    for group, values in group_dict.items():
        if param == 'parental level of education':
            group_dict[group] = min(values)
        else:
            group_dict[group] = round(sum(values) / len(values),2)
            
        sorted_group_dict = sorted(group_dict.items())  
        
    return sorted_group_dict

In [23]:
%%time
grade('race/ethnicity', 'reading score')

Wall time: 2.98 ms

[('group A', 64.5),
 ('group B', 66.3),
 ('group C', 70.52),
 ('group D', 67.79),
 ('group E', 73.33)]

In [24]:
%%time
grade('parental level of education', 'writing score')

Wall time: 6.63 ms

[("associate's degree", 41),
 ("bachelor's degree", 38),
 ('high school', 27),
 ("master's degree", 67),
 ('some college', 45),
 ('some high school', 36)]

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

In [25]:
grouped = pd.pivot_table(df,index=['gender','parental level of education']).round(2)
grouped

                                    math score  reading score  writing score
gender parental level of education
female associate's degree                67.60          75.80          74.80
       bachelor's degree                 67.57          77.57          79.14
       high school                       58.50          68.42          66.58
       master's degree                   61.67          72.33          75.67
       some college                      73.67          74.78          79.00
       some high school                  60.30          72.10          73.20
male   associate's degree                74.90          69.30          67.20
       bachelor's degree                 56.83          56.00          55.50
       high school                       58.00          56.27          51.09
       master's degree                   84.00          79.00          78.67
       some college                      71.75          69.50          68.62
       some high school                  72.36          66.55          62.64

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [26]:
def check_passmark(x):
    if x >= 50:
        return 'P'
    else:
        return 'F'

In [27]:
df['Math_PassStatus'] = df['math score'].apply(check_passmark)

In [28]:
df.groupby('Math_PassStatus')[['Math_PassStatus']].count()

                 Math_PassStatus
Math_PassStatus
F                             14
P                             86

In [29]:
df['Reading score_PassStatus'] = df['reading score'].apply(check_passmark)

In [30]:
df.groupby('Reading score_PassStatus')[['Reading score_PassStatus']].count()

                          Reading score_PassStatus
Reading score_PassStatus
F                                               10
P                                               90

In [31]:
df['writing score_PassStatus'] = df['writing score'].apply(check_passmark)

In [32]:
df.groupby('writing score_PassStatus')[['writing score_PassStatus']].count()

                          writing score_PassStatus
writing score_PassStatus
F                                               14
P                                               86

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [33]:
import numpy as np
df['OverAll_PassStatus'] = np.where( ( (df['Math_PassStatus'] == 'P') & \
                                                (df['Reading score_PassStatus'] == 'P') & \
                                                (df['writing score_PassStatus'] == 'P') ), 'P', 'F')
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score,Math_PassStatus,Reading score_PassStatus,writing score_PassStatus,OverAll_PassStatus
0,male,group C,some high school,standard,completed,group9,67,73,68,P,P,P,P
1,male,group C,some high school,standard,completed,group9,76,80,73,P,P,P,P
2,female,group E,associate's degree,standard,none,group9,87,94,95,P,P,P,P
3,female,group B,some college,standard,none,group9,82,85,87,P,P,P,P
4,female,group C,some college,standard,none,group9,73,76,78,P,P,P,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,female,group E,some high school,free/reduced,none,group9,32,34,38,F,F,F,F
96,male,group B,high school,free/reduced,none,group9,36,29,27,F,F,F,F
97,female,group B,some high school,free/reduced,completed,group9,63,78,79,P,P,P,P
98,male,group D,associate's degree,standard,completed,group9,67,54,63,P,P,P,P
99,female,group D,some high school,standard,completed,group9,65,78,82,P,P,P,P

In [34]:
df[df['OverAll_PassStatus'] == 'P'].shape[0]

80

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####      $x > 90 = A$
####      $80 < x \leq 90 = B$
####      $70 < x \leq 80 = C$
####      $60 < x \leq 70 = D$
####      $50 < x \leq 60 = E$
####      $x \leq 50 = F (Fail) $

Пусть $x - $ средний балл студента за три экзамена.  

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [35]:
def GetGrade(average_mark):
    if average_mark > 90:
        return 'A'
    elif 80 < average_mark <= 90:
        return 'B'
    elif 70 < average_mark <= 80: 
        return 'C'
    elif 60 < average_mark <= 70: 
        return 'D'
    elif 50 < average_mark <= 60:
        return 'E'
    else:
        return 'F (Fail)'

In [36]:
df['average_mark'] = (df['math score'] + df['reading score'] + df['writing score'])/3

In [37]:
df['Grade'] = df['average_mark'].apply(GetGrade)
df.groupby('Grade')[['Grade']].count()

          Grade
Grade
A             4
B            18
C            24
D            24
E            18
F (Fail)     12